
$font-main: 'Roboto', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;
$font-icon: 'FontAwesome';

$main-gray: #7e7f84;
$title-gray: #67686d;
$light-gray: #eee;

$main-red: #f45a40;
$light-red: #ff674f;

$white-text: #fff;

$footer-bg: #2a2d34;


$html-size-base: 10px;

$html-height-base: 10px;